* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
}

#sidebar {
    display: flex;
    flex-direction: column;
    width: 300px;
}

#content {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

canvas {
    scale: 1;
    aspect-ratio: 4/3;
    image-rendering: pixelated;
    max-height: calc(100vh - 20px);
}

#hash {
    height: 20px;
}
